/*GENERIC L RULES */
a{
    text-decoration:none;
    color:white;
}
.clink{
    color:red;
    font-size:200px;
}
/* label focus color */
 .input-field input:focus + label {
   color: black !important;
   height:30%;
   border-radius:0px 0px 0px 0px;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid black !important;
   box-shadow: 0 1px 0 0 black !important
 }
.railway{
    font-family: 'Raleway', sans-serif;
}
.underline{
    border-bottom:1px solid rgba(0,0,0,.4);
    display:inline-block;
}
.closedissue{
    opacity:.4;
        transition:.3s;

}
.openissue{
    opacity:1;
    transition:.3s;
}
.complaintsselected{
    opacity:0.4;
    transition:.2s;
}
.complaintsdeselected{
    opacity:1;
    transition:.2s;
}
.timesheetsselected{
 opacity:0.4;
    transition:.2s;
}
.timesheetsdeselected{
   opacity:1;
    transition:.2s;
}
.disputesselected{
     opacity:0.4;
    transition:.2s;
}
.disputesdeselected{
       opacity:1;
    transition:.2s;
}
.jobsselected{
 opacity:0.4;
    transition:.2s;
}
.jobsdeselected{
   opacity:1;
    transition:.2s;
}
.commentsselected{
    opacity:0.4;
    transition:.2s;
}
.commentsdeselected{
    opacity:1;
    transition:.2s;
}
.fadeout{
    opacity:0;
    transition:.6s;
}
.bookedjobsselected{
    opacity:0.4;
    transition:.2s;
}
.bookedjobsdeselected{
    opacity:1;
    transition:.2s;
}
.clientspageselected{
    opacity:.4;
    transition:.2s;
}
.clientspageclosed{
    opacity:1;
    transition:.2s;
}
.managementpageselected{
    opacity:.4;
    transition:.2s;
}
.managementpageclosed{
    opacity:1;
    transition:.2s;
}
.employeepageselected{
    opacity:.4;
    transition:.2s;
}
.employeepageclosed{
    opacity:1;
    transition:.2s;
}
.management-header{
    font-size: 24px;
}

.pimg1{
  background-image:url('../img/backgroundsmall.jpg');
    min-height:640px;
    width:100%;
    margin:0;
}
.hidden{
    opacity: 0;
}
.pimg2{

    background-image:url('../img/background2small.jpg');
    min-height:400px;

}
.pimg3{

    background-image:url('../img/background3small.jpg');
    min-height:400px;

}
.pimg4{

    background-image:url('../img/background3small.jpg');
    min-height:400px;

}
/*
.carousel-slider {
    height: 400px !important;
}
*/
.md-datepicker-input-container {
    width: 300px;
    height: 200px;
}
.red{
    color:red;
}
.blue{
    color:blue;
}
.green{
    color:green;
}

/*profile calendar*/
body { margin: 0; }

table { width: 100%; box-sizing: border-box; box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1); font-family: 'Ubuntu'; /*border-collapse: collapse;*/ border-spacing: 0; background-color: #333333; }

th, td { border: 1px solid rgba(255,255,255,0.1); box-sizing: border-box; }

th { text-transform: uppercase; font-size:10px; font-weight:700; padding: 10px 0; color: rgba(255,255,255,0.5); background-color: #292929; letter-spacing: 1px; }

td { width: 14.285%; transition: all 0.3s; font-size: 14px; color: rgba(255,255,255,0.6); font-weight: 400; font-size: 14px; padding: 1.5% 1.5% 5%; vertical-align: initial; padding: 1.5% 0 ; height: 75px; }

.available {  background-color: grey; color:white;transition:.2s;};


/*
.available:hover { background-color: black};
*/
.day:hover { background-color: rgba(0,0,0,0.1); cursor:pointer; }
.day:hover div{
    background-color: white;
    position:absolute;
    top:300px;
    height:200px;
    width:200px;
    transition:.3s;
}
.day:active div{
    background-color: white;
    position:absolute;
    top:300px;
    height:200px;
    width:200px;
    transition:.3s;
}
.notavailable {color:white; background-color: black ; transition:.2s;};
/*
.notavailable:hover {background-color: white}
*/
.pending { background-color: black; color:white; transition:.2s; opacity:.9;};
/*

.pending:hover { background-color: #ddd; opacity: .2}
*/
.today { color: #FFF; background-color: rgba(0,0,0,.25) ; }

span.number { margin-left: 10% }

span.event { height: 4px; background-color: rgba(0,0,0,.3); display: block; margin: 5px 10%; border-radius: 2px; background-color: #91c33b; }

span.event-multiday { margin: 5px -2px; border-radius: 0; }
span.event-multiday-start { margin-right: -4px;  }
span.event-multiday-finish { margin-left: -4px;  }

span.event-ghost { background-color:transparent; }
