<div class="container animated fadeIn">
    <div class="row">
        <div class="col s12 center-align ">
            <h2> {{month}} {{date}}, 2018 </h2>
        </div>
        <div class="col s12 center-align animated fadeIn">

            <!-- Switch -->
            <div class="switch " ng-click="availabilityChanger();">
                <label>
      Unavailable
      <input id="my-switch"  ng-checked="isSwitchedOn" type="checkbox" >
      <span class="lever"></span>
      Available
    </label>
            </div>
            <!--  <div id="switch-panel" ng-show="isSwitchedOn">
                <p>I'm switched on</p>
            </div>-->
        </div>
        <form name="timeSheet" ng-submit="clockOut(timeData,timeSheet.$valid,timeSheet);">
            <div class="input-field col s3">
                <select name = "hundreth" ng-model="timeData.hundreth">
                    <option value="" disabled selected>X</option>
      <option value="0">0</option>
      <option value="1">1</option>
   
    </select>
                <label>HRS</label>
            </div>
            <div class="input-field col s3">
                <select name = "hundreth2" ng-model="timeData.hundreth2">
                                        <option value="" disabled selected>X</option>

      <option  value="0">0</option>
      <option  value="1">1</option>
      <option   value="2">2</option>
     <option  value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option  value="6">6</option>
      <option  value="7">7</option>
      <option  value="8">8</option>
      <option  value="9">9</option>
      
   
    </select>

            </div>
            <div class="input-field col s3">
                <select name = "minTenth" ng-model="timeData.minTenth">
                                        <option value="" disabled selected>X</option>

      <option  value="0">0</option>
      <option  value="1">1</option>
      <option  value="2">2</option>
            <option  value="3">3</option>
      <option  value="4">4</option>
      <option  value="5">5</option>

      
   
    </select>

                <label>MINS</label>
            </div>

            <div class="input-field col s3">
                <select name = "minTenth2" ng-model="timeData.minTenth2">
                                        <option value="" disabled selected>X</option>

      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
            <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
            <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      
   
    </select>
            </div>
            <div class =" col s4">
            </div>
                            <div class="input-field col s5 align-center">
                <select name = "inAmPm" ng-model="timeData.inAmPm">
                                        <option value="" disabled selected>X</option>

      <option value="AM" >AM</option>
      <option value="PM">PM</option>

   
    </select>
            </div>
            <div class =" col s4">
            </div>
            <div class="col s12">
                <p class="center-align"> TO</p>
            </div>
            <div class="input-field col s3">
                <select name = "outHundreth" ng-model="timeData.outHundreth">
                                        <option value="" disabled selected>X</option>

      <option value="0" >0</option>
      <option value="1" >1</option>
   
    </select>
                <label>HRS</label>
            </div>
            <div class="input-field col s3">
                <select name = "outHundreth2" ng-model="timeData.outHundreth2">
                                        <option value="" disabled selected>X</option>

      <option value="0" >0</option>
      <option value="1" >1</option>
      <option value="2">2</option>
            <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
            <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      
      
   
    </select>

            </div>
            <div class="input-field col s3">
                <select name = "outMinTenth" ng-model="timeData.outMinTenth">     
                                        <option value="" disabled selected>X</option>
 
                    <option value="0" >0</option>
      <option value="1">1</option>
      <option value="2">2</option>
            <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>

      
   
    </select>

                <label>MINS</label>
            </div>

            <div class="input-field col s3">
                <select name = "outMinTenth2" ng-model="timeData.outMinTenth2">
                                        <option value="" disabled selected>X</option>

      <option value="0" >0</option>
      <option value="1">1</option>
      <option value="2">2</option>
            <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
            <option value="6">6</option>
      <option value="7">7</option>
            <option value="8">8</option>
      <option value="9">9</option>
 
      
   
    </select>
            </div>
            <div class = "input-field col s4">
            </div>
                <div class="input-field col s5 align-center">
                <select name = "outAmPm" ng-model="timeData.outAmPm">
                                        <option value="" disabled selected>X</option>

      <option value="AM" >AM</option>
      <option value="PM">PM</option>

   
    </select>
            </div>
                        <div class = "input-field col s4">
            </div>
            <div class ="row">
            <div class="input-field col s12 center-align">
                <button class="btn waves-effect waves-light " type="submit">Submit<i class ="material-icons right">send</i></button>
            </div>
            </div>
        </form>
<div class = "row">
    <div class = "container">
        <div style ="border:1px solid#ddd;"class = "col s4 center-align animated fadeIn">
            <h4>Hrs: </h4>
            <h4>Mins: </h4>

        </div>
        <div  style ="border:1px solid#ddd;" class = "col s8 center-align">
            <p class = "animated fadeIn" ng-show="hrsWorked">{{hrsWorked}}</p>
            <p class = "animated fadeIn" ng-show="minsWorked">{{minsWorked}}</p>
        </div>
    </div>
</div>
         


    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').material_select();
    })

</script>