<div class="row" ng-show="clientPage">

    <div ng-show="clientPage" class="col s12 center-align" style="border-top:1px solid #ddd; border-left:1px solid #ddd ;border-bottom:1px solid #ddd">
        <br>
        <a href="#" style="color:black;"> <i ng-click="openRequestEmployeePage()" class="material-icons" ng-class="{'bookedjobsselected':bookedJobsSelected,'bookedjobsdeselected':!bookedJobsSelected}">book</i></a>
        <a href="#" style="color:black;"><i ng-click="openReviewSubmittedTimeSheetsPage()" class="material-icons">timeline</i></a>
        <a href="#" style="color:black;" ng-click="openComplaintsPageClient()"><i  class="material-icons">timeline</i></a>
        <a href="#" style="color:black;" ng-click="openAddLocationPage()"><i  style="font-size:20px; padding-bottom:20px;"class="far fa-compass"></i>
                    </a>
        <a href="#" style="color:black;">
                    <i ng-click="openAddSupervisorPage()"  class="fas fa-user-tie" style="font-size:20px;"></i>

                <a href="#"style="color:black;">
                    <i ng-show="!messagePageSelected" ng-click="openMessagePage()" class="material-icons">email</i></a>
        <a href="#" style="color:black;"><i ng-show="messagePageSelected" ng-click="openMessagePage()" class="material-icons">drafts</i></a>
        <a href="#" style="color:black;"> <i ng-click="openComposeMessagePage()" class="material-icons">create</i></a>
        <br>


    </div>



    <div class="col s12 center-align" ng-show="addSupervisorPageOpen ">

        <br>
        <div class="row">

            <div class="col s12 center-align">
                <br>
                <div ng-show="individualSupervisorOpen" class="col s12" style="border-top:1px solid #ddd; border-right:1px solid #ddd; border-left:1px solid #ddd;">
                    <div class="center-align">




                        <div class="row">
                            <div class="col s2" style="border-bottom:1px solid #ddd;">
                                <p class="railway underline" style="font-size:18px;"> Name</p>
                            </div>
                            <div class="col s10" style="border-bottom:1px solid #ddd;">
                                <p class="railway underline" style="font-size:18px;">Details</p>
                            </div>
                            <div ng-show="supervisorsPaginated[0].length == 0" class="col s12">
                                <br>

                                <div class="row">

                                    <div class=" col s2 animated fadeIn railway truncate">
                                    </div>

                                    <div class="col s10  railway">
                                        <p class="railway"> ( No Supervisors Added )</p>
                                    </div>

                                </div>

                            </div>
                            <div ng-show="supervisorsPaginated[0].length>0" class="col s12" ng-repeat="page in supervisorsPaginated[page] track by $index">
                                <br>
                                <div class="row">

                                    <div class=" col s2 animated fadeIn railway truncate">
                                        <a style="color:black;" href="#" ng-click="openIndividualSupervisor($index)">
                                            <p class="railway underline" style="font-size:17px;">{{$index+1}}.{{page.name}}</p>
                                        </a>
                                    </div>
                                    <div class="col s10" ng-show="individualSupervisorOpen && subconIndex == $index && removeSupervisorLoading ">
                                        <p class="railway red-text text-lighten-3 animated flash infinite" style="font-size:20px;"> REMOVING SUPERVISOR</p>
                                    </div>
                                    <div ng-show="individualSupervisorOpen && subconIndex == $index && !removeSupervisorLoading" class="col s10 railway" style="border-bottom:1px solid #ddd;">
                                        <p class="railway"> {{page.name}}</p>
                                        <p class="railway"> {{page.email}}</p>
                                        <p class="railway"> {{page.phonenumber}}</p>
                                        <i ng-click="removeSupervisor($index)" class="material-icons red-text text-lighten-3"> delete</i>
                                    </div>
                                    <div ng-show="individualSupervisorOpen && subconIndex !== $index" class="col s10  railway">

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col s2">
                        </div>
                        <div class="col s10 center-align">
                            <ul class="pagination">
                                <li class="disabled hide-on-small-only" style="border-left:1px solid #ddd;"><a href="#" ng-click="firstPage()"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_left</i></a></li>

                                <li class="disabled waves-effect"><a href="#" ng-click="decreasePage2()"><i class="material-icons">chevron_left</i></a></li>
                                <li ng-class="{'active':page == $index, 'disabled': page!==$index}" ng-repeat="employee in employeesPaginated track by $index"
                                    ng-click="specificPage($index)"><a href="#">{{$index}}</a></li>

                                <li class="waves-effect"><a href="#" ng-click="changePage2()"><i class="material-icons">chevron_right</i></a></li>
                                <li class="waves-effect hide-on-small-only" style="border-right:1px solid #ddd;" ng-click="lastPage()"><a href="#"><i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i></a></li>

                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>
        <div class="row">
            <div class="col s12">
                <div class="center-align">
                    <div class="row">
                        <div class="col s2 center-align">
                            <i ng-click="openSubmitSupervisorPage()" class="material-icons animated flash  " style="font-size:28px;"> add</i>

                        </div>
                        <div class=" col s10 center-align">
                            <div class="row">

                                <div class="col s12 center-align">
                                    <p class="railway underline">Add Supervisor</p>
                                    <div class="col s12 center-align " ng-show="submitSupervisorLoading">
                                        <p ng-show="!addSupervisorSuccessful" class="railway animated flash infinite" style="font-size:20px;"> INSERTING SUPERVISOR </p>
                                        <p ng-show="addSupervisorSuccessful" class="railway animated fadeIn green-text lighten-4" style="font-size:20px;"> Supervisor Successfully Inserted! </p>

                                    </div>
                                    <div ng-show="submitSupervisorPageOpen && !submitSupervisorLoading">

                                        <div class="row">

                                            <div class="col s2 center-align">

                                            </div>

                                            <div class="input-field col s8 " style="border-top:1px solid black;">
                                                <br>
                                                <div class="animated slideInRight">
                                                    <input id="first_name" type="text" name="name" ng-model="supervisorData.name" class="validate">
                                                    <label for="first_name">Supervisor Name</label>
                                                </div>
                                                <div class="animated flash">
                                                    <span ng-show='supervisorNameNotProvided' class="railway animated flash"> A Supervisor Name Must Be Provided </span>
                                                </div>
                                            </div>
                                            <div class="col s2">
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col s2 center-align">

                                            </div>
                                            <div class="input-field col s8">
                                                <div class="animated slideInRight">
                                                    <input id="first_name" type="text" name="phonenumber" ng-model="supervisorData.phonenumber" class="validate">
                                                    <label for="first_name">Supervisor Phone Number</label>
                                                </div>
                                                <div class="animated flash">
                                                    <span ng-show='supervisorPhoneNumberNotProvided' class="railway animated flash"> A Supervisor Phone Number Must Be Provided </span>
                                                </div>
                                            </div>
                                            <div class="col s2">
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col s2 center-align">

                                            </div>
                                            <div class="input-field col s8 center-align" style="border-bottom:1px solid black;">
                                                <div class="animated slideInRight">
                                                    <input id="first_name" type="text" name="email" ng-model="supervisorData.email" class="validate">
                                                    <label for="first_name">Supervisor Email</label>
                                                </div>
                                                <div class="animated flash">
                                                    <span ng-show='supervisorEmailNotProvided' class="railway animated flash"> A Supervisor Name Must Be Provided </span>
                                                </div>
                                                <br>
                                            </div>
                                            <div class="col s2">
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col s12 center-align">
                                                <a ng-click="submitSupervisor()" class="waves-effect waves-light btn">Add Supervisor</a>


                                            </div>


                                        </div>
                                    </div>


                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col s12 center-align" ng-show="addLocationPageOpen ">

        <br>
        <div class="row">

            <div class="col s12 center-align">
                <br>
                <div ng-show="individualLocationOpen" class="col s12" style="border-top:1px solid #ddd; border-right:1px solid #ddd; border-left:1px solid #ddd;">
                    <div class="center-align">




                        <div class="row">
                            <div class="col s2" style="border-bottom:1px solid #ddd;">
                                <p class="railway underline" style="font-size:18px;"> Name</p>
                            </div>
                            <div class="col s10" style="border-bottom:1px solid #ddd;">
                                <p class="railway underline" style="font-size:18px;">Details</p>
                            </div>
                            <div ng-show="locationsPaginated[0].length == 0" class="col s12">
                                <br>

                                <div class="row">

                                    <div class=" col s2 animated fadeIn railway truncate">
                                    </div>

                                    <div class="col s10  railway">
                                        <p class="railway"> ( No Locations Added )</p>
                                    </div>

                                </div>

                            </div>
                            <div ng-show="locationsPaginated[0].length>0" class="col s12" ng-repeat="page in locationsPaginated[page] track by $index">
                                <br>
                                <div class="row">

                                    <div class=" col s2 animated fadeIn railway truncate">
                                        <a style="color:black;" href="#" ng-click="openLocationSupervisor($index)">
                                            <p ng-click="openIndividualLocation($index)" class="railway underline" style="font-size:17px;">{{$index+1}}.{{page.name}}</p>
                                        </a>
                                    </div>
                                    <div class="col s10" ng-show="individualLocationOpen &&locationIndex == $index && removeLocationLoading ">
                                        <p class="railway red-text text-lighten-3 animated flash infinite" style="font-size:20px;"> REMOVING LOCATION</p>
                                    </div>
                                    <div ng-show="individualLocationOpen && locationIndex == $index && !removeLocationLoading" class="col s10 railway" style="border-bottom:1px solid #ddd;">
                                        <p class="railway"> {{page.name}}</p>
                                        <p class="railway"> {{page.email}}</p>
                                        <p class="railway"> {{page.phonenumber}}</p>
                                        <i ng-click="removeLocation($index)" class="material-icons red-text text-lighten-3"> delete</i>
                                    </div>
                                    <div ng-show="individualLocationOpen && locationIndex !== $index" class="col s10  railway">

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col s2">
                        </div>
                        <div class="col s10 center-align">
                            <ul class="pagination">
                                <li class="disabled hide-on-small-only" style="border-left:1px solid #ddd;"><a href="#" ng-click="firstPage()"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_left</i></a></li>

                                <li class="disabled waves-effect"><a href="#" ng-click="decreasePage2()"><i class="material-icons">chevron_left</i></a></li>
                                <li ng-class="{'active':page == $index, 'disabled': page!==$index}" ng-repeat="employee in employeesPaginated track by $index"
                                    ng-click="specificPage($index)"><a href="#">{{$index}}</a></li>

                                <li class="waves-effect"><a href="#" ng-click="changePage2()"><i class="material-icons">chevron_right</i></a></li>
                                <li class="waves-effect hide-on-small-only" style="border-right:1px solid #ddd;" ng-click="lastPage()"><a href="#"><i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i></a></li>

                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>
        <div class="row">
            <div class="col s12">
                <div class="center-align">
                    <div class="row">
                        <div class="col s2 center-align">
                            <i ng-click="openSubmitLocationPage()" class="material-icons animated flash  " style="font-size:28px;"> add</i>

                        </div>
                        <div class=" col s10 center-align">
                            <div class="row">

                                <div class="col s12 center-align">
                                    <p class="railway underline">Add Location</p>


                                    <div class="col s12 center-align " ng-show="submitLocationLoading">
                                        <p ng-show="!addLocationSuccessful" class="railway animated flash infinite" style="font-size:20px;"> INSERTING LOCATION </p>
                                        <p ng-show="addLocationSuccessful" class="railway animated fadeIn green-text lighten-4" style="font-size:20px;"> Location Successfully Inserted! </p>

                                    </div>

                                    <div ng-show="submitLocationPageOpen  && !submitLocationLoading">


                                        <div class="row">
                                            <div class="col s2 center-align">
                                                <i class="material-icons">arrow_back</i>

                                            </div>
                                            <div class="input-field col s8">
                                                <div class="animated slideInRight">
                                                    <input id="first_name" type="text" name="name" ng-model="locationData.name" class="validate">
                                                    <label for="first_name">Location Name</label>
                                                </div>
                                                <div class="animated flash">
                                                    <span ng-show='locationNameNotProvided' class="railway"> A Location Name Must Be Provided </span>
                                                </div>
                                            </div>
                                            <div class="col s2 center-align">
                                                <i class="material-icons">arrow_forward</i>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col s2 center-align">
                                                <i class="material-icons">arrow_back</i>

                                            </div>
                                            <div class="input-field col s8">
                                                <div class="animated slideInRight">
                                                    <input id="first_name" type="text" name="contact" ng-model="locationData.contact" class="validate">
                                                    <label for="first_name">Location Contact</label>
                                                </div>
                                                <div class="animated flash">
                                                    <span ng-show='locationContactNotProvided' class="railway animated flash"> A Location Contact Must Be Provided </span>
                                                </div>
                                            </div>
                                            <div class="col s2 center-align">
                                                <i class="material-icons">arrow_forward</i>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col s2 center-align">
                                                <i class="material-icons">arrow_back</i>

                                            </div>
                                            <div class="input-field col s8">
                                                <div class="animated slideInRight">
                                                    <input id="first_name" type="text" name="address" ng-model="locationData.address" class="validate">
                                                    <label for="first_name">Location Address</label>
                                                </div>
                                                <div class="animated flash">
                                                    <span ng-show='locationAddressNotProvided' class="railway animated flash"> A Location Address Must Be Provided </span>
                                                </div>
                                            </div>
                                            <div class="col s2 center-align">
                                                <i class="material-icons">arrow_forward</i>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col s2 center-align">
                                                <i class="material-icons">arrow_back</i>

                                            </div>
                                            <div class="input-field col s8">
                                                <div class="animated slideInRight">
                                                    <input id="first_name" type="text" name="email" ng-model="locationData.email" class="validate">
                                                    <label for="first_name">Contact Email</label>
                                                </div>
                                                <div class="animated flash">
                                                    <span ng-show='locationEmailNotProvided' class="railway animated flash"> A Contact Email Must Be Provided </span>
                                                </div>
                                            </div>
                                            <div class="col s2 center-align">
                                                <i class="material-icons">arrow_forward</i>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col s2 center-align">
                                                <i class="material-icons">arrow_back</i>

                                            </div>
                                            <div class="input-field col s8">
                                                <div class="animated slideInRight">
                                                    <input id="first_name" type="text" name="phonenumber" ng-model="locationData.phonenumber" class="validate">
                                                    <label for="first_name">Contact Phone Number</label>
                                                </div>
                                                <div class="animated flash">
                                                    <span ng-show='locationPhoneNumberNotProvided' class="railway animated flash"> A Contact Phone Number Must Be Provided </span>
                                                </div>
                                            </div>
                                            <div class="col s2 center-align">
                                                <i class="material-icons">arrow_forward</i>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col s12 center-align">
                                                <a ng-click="submitLocation();" class="waves-effect waves-light btn">Add Location</a>


                                            </div>


                                        </div>

                                    </div>


                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- ADD LOCATION PAGE -->

    <!-- ADD LOCATION PAGE -->


<!-- REQUEST EMPLOYEE PAGE -->


    <div class="col s12 center-align " ng-show="requestEmployeePageLoading ">
        <p class="railway animated flash infinite" style="font-size:20px;"> LOADING</p>
    </div>
    <div class="col s12 center-align animated fadeIn" ng-show="requestEmployeePageOpen && !requestEmployeePageLoading">
        
                        <div class="row">
                            <div class="col s2" style="border-bottom:1px solid #ddd;">
                                <p class="railway underline" style="font-size:18px;"> Name</p>
                            </div>
                            <div class="col s10" style="border-bottom:1px solid #ddd;">
                                <p class="railway underline" style="font-size:18px;">Details</p>
                            </div>
                            <div ng-show="requestedJobsPaginated[0].length == 0" class="col s12">
                                <br>

                                <div class="row">

                                    <div class=" col s2 animated fadeIn railway truncate">
                                    </div>

                                    <div class="col s10  railway">
                                        <p class="railway"> ( No Jobs Requested  )</p>
                                    </div>

                                </div>

                            </div>
                            <div ng-show="requestedJobsPaginated[0].length>0" class="col s12" ng-repeat="page in requestedJobsPaginated[page] track by $index">
                                <br>
                                <div class="row">
                                    

                                    <div class=" col s2 animated fadeIn railway truncate" style="border-right:1px solid #ddd;">
                                        <a style="color:black;" href="#" ng-click="openLocationSupervisor($index)">
                                            <p ng-click="openIndividualRequestedJob($index)" class="railway underline" style="font-size:17px;">{{$index+1}}.{{page.client}}</p>
                                        </a>
                                    </div>
                                     <div class="col s10" ng-show="individualRequestedJobOpen &&requestIndex == $index && !removeRequestedJobLoading && removeRequestedJobSuccessful ">
                                        <p class="railway green-text text-lighten-3 animated flash infinite" style="font-size:20px;"> REQUESTED JOB SUCCESSFULLY REMOVED</p>
                                    </div>
                                    <div class="col s10" ng-show="individualRequestedJobOpen &&requestIndex == $index && removeRequestedJobLoading && !removeRequestedJobSuccessful ">
                                        <p class="railway red-text text-lighten-3 animated flash infinite" style="font-size:20px;"> REMOVING REQUESTED JOB</p>
                                    </div>
                                    <div ng-show="individualRequestedJobOpen && requestIndex == $index && !removeRequestedJobLoading && !removeRequestedJobSuccessful" class="col s10 railway" style="border-bottom:1px solid #ddd;">
                                        <p class="railway"> {{page.location}}</p>
                                        <p class="railway"> {{page.supervisor}}</p>
                                        <p class="railway"> {{page.hours}}</p>
                                        <div ng-show="!page.approved">
                                            <span class = "railway underline">Status</span>
                                            <p class = "railway red-text  text-lighten-3"> Not Yet Approved</p>
                                        <i ng-click="removeRequestedJob($index)" class="material-icons red-text text-lighten-3"> delete</i>
                                    </div>
                                         <div ng-show="page.approved">
                                            <span class = "railway underline">Status</span>
                                            <p class = "railway red-text text-lighten-3"> Job Requirements Have Been Approved And Booked</p>
                                        <i ng-click="removeRequestedJob($index)" class="material-icons red-text text-lighten-3"> delete</i>
                                    </div>
                                    <div ng-show="individualRequestedJobOpen && requestIndex !== $index" class="col s10  railway">

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col s2">
                        </div>
                        <div class="col s10 center-align">
                            <ul class="pagination">
                                <li class="disabled hide-on-small-only" style="border-left:1px solid #ddd;"><a href="#" ng-click="firstPage()"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_left</i></a></li>

                                <li class="disabled waves-effect"><a href="#" ng-click="decreasePage2()"><i class="material-icons">chevron_left</i></a></li>
                                <li ng-class="{'active':page == $index, 'disabled': page!==$index}" ng-repeat="employee in employeesPaginated track by $index"
                                    ng-click="specificPage($index)"><a href="#">{{$index}}</a></li>

                                <li class="waves-effect"><a href="#" ng-click="changePage2()"><i class="material-icons">chevron_right</i></a></li>
                                <li class="waves-effect hide-on-small-only" style="border-right:1px solid #ddd;" ng-click="lastPage()"><a href="#"><i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i></a></li>

                            </ul>
                        </div>

                    </div>
             


            

    

        <div class = "row" >
            <div class = "col s2">
            </div>
            <div class = "col s10  center-align">
                <p class = "railway underline" style="font-size:20px;"> Request A Job </p>
            </div>
        </div>     
           <div class = "row " ng-show="loadingRequestJobSuccessful">
               <div class = "col s2">
               </div>
             <div class ="col s10 center-align">
            <p class = "railway underline animated flash  text-green text-lighten-3" style="font-size:20px;"> JOB SUCCESSFULLY REQUESTED </p>
            <p class = "railway underline   " style="font-size:17px;"> (You Will Be Notified Upon Approval) </p>



            </div>
        </div>   
        <div class = "row " ng-show="loadingRequestJob && !loadingRequestJobSuccessful">
            <div class = "col s2">
            </div>
             <div class ="col s10 center-align">
            <p class = "railway underline animated flash infinite " style="font-size:20px;"> LOADING JOB REQUEST </p>



            </div>
        </div>
        <div class ="row animated fadeIn" ng-show="areYouSureSubmitRequestJob && !loadingRequestJob && !loadingRequestJobSuccessful">
            <div class ="col s2">
            </div>
            <div class ="col s10 center-align">
            <p class = "railway underline" style="font-size:20px;"> Are These Details Correct? </p>



            </div>
            <div class = "col s2">
            </div>
            <div class = "col s10 center-align">
                <p class = "railway " style="font-size:17px; text-decoration:underline;">Client</p>
                <span class = "railway" style="font-size:15px;">{{requestedJobData.client}}</span>
                <p class = "railway " style="font-size:17px;text-decoration:underline;">Supervisor</p>
                                <span class = "railway" style="font-size:15px;">{{requestedJobData.supervisor}}</span>

                <p class = "railway " style="font-size:17px;text-decoration:underline;">Location</p>
                                <span class = "railway" style="font-size:15px;">{{requestedJobData.location}}</span>


                <p class = "railway " style="font-size:17px;text-decoration:underline;">Approximate Hours</p>
                                <span class = "railway" style="font-size:15px;">{{requestedJobData.hours}}</span>

                <p class = "railway " style="font-size:17px;text-decoration:underline;">Worksite Details</p>
                                <span class = "railway" style="font-size:15px;">{{requestedJobData.workdetails}}</span>

                <p class = "railway " style="font-size:17px;text-decoration:underline;">Description Of Work</p>
                                <span class = "railway" style="font-size:15px;">{{requestedJobData.descriptionofwork}}</span>

                <p class = "railway " style="font-size:17px;text-decoration:underline;">Number Of Workers Requested</p>
                                <span class = "railway" style="font-size:15px;">{{requestedJobData.numberofworkers}}</span>

                <p class = "railway " style="font-size:17px;text-decoration:underline;">PPE?</p>
                                <span class = "railway" style="font-size:15px;">{{requestedJobData.ppe}}</span>
                            <div class = "row">
                                <div class = "col s6 center-align">
                                    <i ng-click="submitRequest()" class = "material-icons green-text text-lighten-3">check_circle</i>
                                </div>
                                <div class = "col s6 center-align">
                                <i  ng-click = "closeAreYouSureSubmitRequest()"class = "material-icons red-text text-lighten-3">cancel</i>

                                </div> 
                            </div>
            </div>
        
        </div>
        <div class="row" ng-show="!areYouSureSubmitRequestJob &&!loadingRequestJob && !loadingRequestJobSuccessful">


<div class = "col s2">
</div>
            <form class="col s10">
                <div class="row">
                    <div class="input-field col s12">
                        
                        <input value="{{userName}}" id="first_name" name="client" ng-model="requestedJobData.client"type="text" class="validate">
                        <label for="first_name">Client</label>
                    </div>
                   
                </div>
         
           
                <div class="row">

                    <div class="input-field col s12">
                        <select ng-model="requestedJobData.supervisor"name="supervisor">
      <option value="" disabled selected>Choose a Supervisor</option>
      <option ng-repeat ="supervisor in supervisorsArray"value="{{supervisor.name}}">{{supervisor.name}}</option>
      
             
    </select>
                        <label>Supervisor</label>
                        <div class="animated flash">
                             <span ng-show='supervisorCannotBeEmpty' class="railway"> A Supervisor Must Be Provided </span>
                             <span ng-show='!supervisorsArray.length' class="railway"> You Must First Load Supervisors In The Add Locations Page </span>

                            </div>
                    </div>
                </div>
                <div class="row">

                    <div class="input-field col s12">
                        <select ng-model="requestedJobData.location"name="location">
      <option value="" disabled selected>Choose a Location</option>
      <option ng-repeat ="location in locationsArray"value="{{location.name}}">{{location.name}}</option>
      <div class="animated flash">
                                       <span ng-show='supervisorCannotBeEmpty' class="railway"> A Supervisor Must Be Provided </span>

    </div>
            
    </select>
                        <label>Location</label>
                         <div class="animated flash">
                             <span ng-show='locationCannotBeEmpty' class="railway"> A Worksite Location Must Be Provided </span>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" ng-model="requestedJobData.workdetails"name="workdetails"></textarea>
                        <label for="textarea1">Worksite Details</label>
                           <div class="animated flash">
                             <span ng-show='worksiteDetailsCannotBeEmpty' class="railway"> A Worksite Details Must Be Provided </span>
                            </div>
                    </div>
                </div>

                <div class="row">

                    <div class="input-field col s12">
                        <select ng-model="requestedJobData.ppe"name="ppe">
      <option value="" disabled selected>Yes/No</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
          
    </select>
                        <label>Special PPE Required?</label>
                           <div class="animated flash">
                             <span ng-show='ppeCannotBeEmpty' class="railway"> PPE Requirement Must Be Specified </span>
                            </div>
                    </div>
                </div>
        

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" name="descriptionofwork"ng-model="requestedJobData.descriptionofwork"></textarea>
                        <label for="textarea1">Description Of Work</label>
                         <div class="animated flash">
                             <span ng-show='descriptionOfWorkCannotBeEmpty' class="railway"> Description Of Work Must Be Provided </span>
                            </div>
                    </div>
                </div>
                         <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="number" name = "numberofworkers" ng-model="requestedJobData.numberofworkers" class="validate">
                        <label for="email"># Of Workers Requested</label>
                         <div class="animated flash">
                             <span ng-show='numberOfWorkersCannotBeEmpty' class="railway"> Number Of Workers Must Be Provided </span>
                            </div>
                    </div>
                </div>
                    
                <!-- START TIMES -->
                <div class = "row">
                    <div class = "col s12 center-align">
                            <p class = "railway underline" style="font-size:17px;"> Approximate Start/End Time</p>
                    </div>
                </div>

                <div class="input-field col s6">


                    <select ng-model="requestedJobData.hrsIn1" name="hrsIn1">
      <option value="" disabled selected>#</option>
      <option value="0">0</option>
      <option value="1">1</option>
     
    </select>

                    <label>Hrs</label>
                </div>
                <div class="input-field col s6">
                    <select ng-model="requestedJobData.hrsIn2" name="hrsIn2">
      <option value="" disabled selected>#</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
       <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
       <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
                </div>
                <div class="input-field col s6">
                    <select ng-model="requestedJobData.minsIn1" name="minsIn1">
         <option value="" disabled selected>#</option>
         <option value="0">0</option>
      <option value="1">1</option>
      <option value="3">3</option>
       <option value="4">4</option>
    
    </select>
                    <label>Mins</label>
                </div>
                <div class="input-field col s6">
                    <select ng-model="requestedJobData.minsIn2" name="minsIn2">
            <option value="" disabled selected>#</option>
                        <option value="0">0</option>

      <option value="5">5</option>
   
    </select>
                </div>
                <div class="input-field col s12">
                    <select ng-model="requestedJobData.amPm1" name="amPm1">
            <option value="" disabled selected>am/pm</option>

      <option value=" am">am</option>
      <option value=" pm">pm</option>
      
    </select>
                </div>
                <div class="col s12">
                    <span class="railway"> to </span>
                </div>
                <div class="input-field col s6">
                    <select ng-model="requestedJobData.hrsOut1" name="hrsOut1">
      <option value="" disabled selected>#</option>
      <option value="0">0</option>
      <option value="1">1</option>
     
    </select>

                    <label>Hrs</label>
                </div>
                <div class="input-field col s6">
                    <select ng-model="requestedJobData.hrsOut2" name="hrsOut2">
      <option value="" disabled selected>#</option>
            <option value="0" >0</option>

      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
       <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
       <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
                </div>
                <div class="input-field col s6">
                    <select ng-model="requestedJobData.minsOut1" name="minsOut1">
         <option value="" disabled selected>#</option>
         <option value="0">0</option>
      <option value="1">1</option>
  
      <option value="3">3</option>
       <option value="4">4</option>
    
    </select>
                    <label>Mins</label>
                </div>
                <div class="input-field col s6">
                    <select ng-model="requestedJobData.minsOut2" name="minsOut2">
            <option value="" disabled selected>#</option>
                        <option value="0">0</option>


      <option value="5">5</option>
    
    </select>
                </div>
                <div class="input-field col s12">
                    <select ng-model="requestedJobData.amPm2" name="amPm2">
            <option value="" disabled selected>am/pm</option>

      <option value=" am">am</option>
      <option value=" pm">pm</option>
      
    </select>
                </div>
                <div class="input-field col s12">
                    <select ng-model="requestedJobData.lunch" name="lunch">
            <option value="" disabled selected>Lunch?</option>

      <option value="true">yes</option>
      <option value="false">no</option>
      
    </select>
                </div>

 <div class="animated flash">
                             <span ng-show='timeDataCannotBeEmpty' class="railway"> Time Data Must Be Completed </span>
                            </div>
                    </div>

                <!-- BOOKING HOURS -->

            

<a ng-click="areYouSureSubmitRequest()" class="waves-effect waves-light btn">Submit Request</a>

            </form>
        </div>
        </div>
        </div>


    </div>
    <div class="col s12 center-align" ng-show="reviewSubmittedTimeSheetsPageOpen">
        <div class="row">
            <p class="railway underline" style="font-size:25px;"> Review Submitted Time Sheets</p>
        </div>

    </div>
    <div class="col s12 center-align" ng-show="complaintsPageClientOpen">
        <div class="row">
            <p class="railway underline" style="font-size:25px;"> Complaints</p>
        </div>

    </div>

</div>