<div class="container">
    <div class="row">
        <div style="border-bottom:1px solid black;" class='col s12 center-align animated fadeIn'>

            <p class="management-header underline railway animated fadeIn">| Administration |</p>
        </div>

        <div style="border-right:1px solid #ddd" class="col s2 center-align ">
            <span ng-click="openManagementPage()" class=" truncate  animated fadeIn "><i class="material-icons">home</i> HOME </span>
            <span ng-click="openClientsPage()" class=" truncate  animated fadeIn "><i class="material-icons">business</i> CLIENTS </span>
            <span ng-click="openEmployeesPage()" class=" truncate  animated fadeIn "><i class="material-icons"ng-class = "{'employeepageselected':employeesPage,'employeepageclosed':!employeesPage}">person</i> EMPLOYEES </span>

        </div>
        <div ng-show="managementPage" class="col s10 center-align animated fadeIn">
            <p class="railway">Administration Page</p>

        </div>
        <div ng-show="clientsPage" class="col s10 center-align animated fadeIn">
            <p class="railway">Clients Page</p>
        </div>
        <div ng-show="employeesPage" class="col s10 center-align animated fadeIn" >
            <p class="railway">Employees Page</p>
            <div class="row">
                <div style="border-right:1px solid #ddd" class="col s3 center-align">
                    <p ng-click="openUserFile(user.name);" ng-repeat="user in employees" class="railway underline">{{user.name}}</p>

                </div>
                <div class="col s9" ng-repeat="user in employees">

                    <div ng-show="userFilePage && (currentUserFile == user.name)">
                        <p class="railway animated fadeIn">{{currentUserFile}}</p>
                        <p class="railway animated fadeIn underline">Complaints({{user.complaints.length}})</p>
                        <br>

                        <p class="railway animated fadeIn underline">Date</p>
                        <div style="border:1px solid black">
                            <p style="font-size:12px;" class="railway animated fadeIn">{{user.complaints[0].date}}</p>
                        </div>
                        <div style="border:1px solid black" >
                            <p style="font-size:12px;padding-top:10px; "  ng-class ="{closedissue: !openIssue,openissue:openIssue}" class="railway ">{{user.complaints[0].subject}}</p>

                            <p style="font-size:12px; padding-bottom:10px;" ng-class ="{closedissue: !openIssue,openissue:openIssue}" class="railway">{{user.complaints[0].body}}</p>
                            <button ng-click="openCloseIssue()" class="waves-effect waves-light btn"><span ng-show="!openIssue">Open Issue</span><span ng-show="openIssue">Close Issue</span></button>
                            

                        </div>



                    </div>

                </div>
                <!--<p class="railway">Main Page</p>-->
            </div>



        </div>
    </div>
</div>