<div class="container">
    <div class="row">
        <div style="border-bottom:1px solid black;" class='col s12 center-align animated fadeIn'>

            <p class="management-header underline railway animated fadeIn">| Administration |</p>
        </div>

        <div style="border-right:1px solid #ddd" class="col s2 center-align animated fadeIn">
            <span ng-click="openManagementPage()" class=" truncate   " ng-class="{'managementpageselected':managementPage,'managementpageclosed':!managementPage}"><i class="material-icons" ng-class = "{'managementpageselected':managementPage,'managementpageclosed':!managementPage}">home</i> HOME </span>
            <span ng-click="openClientsPage()" class=" truncate   " ng-class="{'clientspageselected':clientsPage,'clientspageclosed':!clientsPage}"><i class="material-icons" ng-class = "{'clientspageselected':clientsPage,'clientspageclosed':!clientsPage}">business</i> CLIENTS </span>
            <span ng-click="openEmployeesPage()" class=" truncate   " ng-class="{'employeepageselected':employeesPage,'employeepageclosed':!employeesPage}"><i class="material-icons"ng-class = "{'employeepageselected':employeesPage,'employeepageclosed':!employeesPage}">person</i> EMPLOYEES </span>

        </div>
        <div ng-show="managementPage" class="col s10 center-align animated fadeIn">
            <p style="font-size:18px;" class="railway animated fadeIn ">Administration Page</p>

        </div>
        <div ng-show="clientsPage" class="col s10 center-align animated fadeIn">
            <p style="font-size:18px;" class="railway animated fadeIn ">Clients Page</p>
        </div>
        <!-- EMPLOYEE PAGE -->


        <div ng-show="employeesPage" class="col s10 center-align animated fadeIn">
            <div class="row">



            </div>

            <div style="border-right:1px solid #ddd" class="col s3 center-align">
                <p style="word-wrap:break-word; " ng-click="openEmployeeHome()" class=" railway  "> Overview </p>
                <a style="color:black;" href="#">
                    <p style="word-wrap:break-word; " ng-click="openEmployeeList()" class=" railway  "> Search </p>
                </a>


            </div>
            <div ng-show="employeeListOpen" class="col s9 animated fadeIn ">
                <span class="railway ">
              Search
          </span>
                <form name="searchForm">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Search here.." ng-change="searchFunction(searchForm.searchInput)" name="searchInput" ng-model="management.searchData.searchInput"
                                id="first_name" type="text" class="validate">
                            <label for="first_name"></label>
                        </div>
                    </div>
                </form>
                     <div  ng-show="noInput">
                    <p style = "word-wrap:break-word;" class = "railway underline">No Input...</p>

            </div>
                        <div  ng-show="noSearchResults">
                    <p style = "word-wrap:break-word;" class = "railway underline">No Search Results...</p>

            </div>
                           <div  ng-show="searchResults" class = "animated " ng-class="{'fadeOut':!searchResults}">
                               <i ng-click="closeSearchResults()" class = "material-icons animated fadeIn">keyboard_return</i>
                    <p style = "word-wrap:break-word;" class = "railway  animated fadeIn">Search Results...</p>
                         <table class = "animated fadeIn">
        <thead>
          <tr ng-repeat="result in userSearchResults track by $index">
              <th>Name</th>
              <th>{{$index}}</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="result in userSearchResults track by $index">
            <td><a href = "#">{{result.name}}</a></td>
            <td><a href = "#">{{result.phonenumber}}</a></td>
            <td><a href = "#">{{result.email}}</a></td>
          </tr>
       
       
        </tbody>
      </table>
            

            </div>
                <p style="word-wrap:break-word; " ng-click="openUserFile(user.name);" ng-repeat="user in employees" class="railway ">{{user.name}} </p>
           
            <div class="col s9 animated fadeIn" style="border-right: 1px solid #ddd;" ng-show="employeeHome && !employeeListOpen">
                <div class="underline">
                    <p style="font-size:18px;" class="railway animated fadeIn ">Employees Page</p>
                </div>
                <p class="railway">
                    A Simple way to manage your employees...
                </p>
            </div>

            <div ng-show="!employeeHome" class="col s9" style="border-right: 1px solid #ddd;" ng-repeat="user in employees">

                <div ng-show="userFilePage && (currentUserFile == user.name) && !employeeHome">

                    <p style="font-size:18px;" class="railway animated fadeIn ">| {{currentUserFile}} |</p>
                    <div class="row">
                        <div style="opacity:0;" class="col s1">

                        </div>
                        <div style="border-bottom:1px solid #ddd; border-top:1px solid #ddd; " class="col s10 center-align">
                            <i ng-click="openBookedJobsPage()" style="font-size:17px; color:black; padding-top:5px;" class="material-icons" ng-class="{'bookedjobsselected':bookedJobsSelected,'bookedjobsdeselected':!bookedJobsSelected}">book</i>

                            <i ng-click="openComplaintsPage()" style="font-size:17px; color:black;padding-top:5px;" class="material-icons" ng-class="{'complaintsselected':complaintsSelected,'complaintsdeselected':!complaintsSelected}">priority_high</i>
                            <i ng-click="openCommentsPage()" style="font-size:17px; color:black;padding-top:5px;" class="material-icons" ng-class="{'commentsselected':commentsSelected,'commentsdeselected':!commentsSelected}">comment</i>
                            <i ng-click="openCommentsPage()" style="font-size:17px; color:black;padding-top:5px;" class="material-icons" ng-class="{'commentsselected':commentsSelected,'commentsdeselected':!commentsSelected}">schedule</i>

                        </div>
                        <div class="col s1">
                        </div>


                    </div>

                    <div ng-show="userDetailsPageOpened" class="col s12">
                        <p class="railway animated fadeIn">{{user.email}}</p>
                        <p class="railway animated fadeIn">{{user.phonenumber}}</p>

                    </div>
                    <div ng-show="commentsPageOpened" class="col s12">
                        <div class="row" ng-repeat="comment in comments">
                            <div class="col s1">
                            </div>
                            <div style="border-bottom:1px solid #ddd" class="col s10 animated fadeIn">
                                <span class="railway animated fadeIn"> {{comment.date}}</span>

                            </div>
                            <div class="col s1">
                            </div>
                            <div class="col s12">

                                <span class="railway animated fadeIn"> {{comment.body}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="complaintsPageOpened" class="col s12">
                        <div class="row">
                            <div class="col s3">
                                <p ng-click="openComplaints()" class="railway animated fadeIn underline">Complaints( {{user.complaints.length}} )</p>

                            </div>
                            <div class="col s9">
                                <div ng-show="complaintsOpened">
                                    <div style="border:1px solid rgba(0,0,0,.6)">
                                        <p style="font-size:12px;" class="railway animated fadeIn">Date: {{user.complaints[0].date}}</p>
                                    </div>
                                    <div style="border:1px solid rgba(0,0,0,.6)">
                                        <p style="font-size:12px;padding-top:10px; " ng-class="{closedissue: !openIssue,openissue:openIssue}" class="railway underline animated fadeIn ">{{user.complaints[0].subject}}</p>

                                        <p style="font-size:12px; padding-bottom:10px;" ng-class="{closedissue: !openIssue,openissue:openIssue}" class="railway animated fadeIn">{{user.complaints[0].body}}</p>
                                        <button ng-click="openCloseIssue()" class="waves-effect waves-light btn"><span ng-show="!openIssue">Open Issue</span><span ng-show="openIssue">Close Issue</span></button>

                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div ng-show="bookedJobsPageOpened" class="col s12">
                        <i ng-click="increaseDay()" style="padding-right:50px;" class="material-icons">expand_less</i>
                        <i ng-click="decreaseDay()" class="material-icons">expand_more</i>
                        <br>
                        <p ng-click="openCloseBookedJobs()" class="railway animated fadeIn underline">{{jobDetails[openJob].date}}</p>
                        <div ng-show="openJob == $index" ng-repeat="job in jobDetails track by $index" style="   padding-bottom:10px;" class='col s12'>
                            <br>
                            <div class="row">
                                <div ng-show="openJob == $index" class="col s3" style="border-right: 1px solid #ddd;">
                                    <p ng-show="openJob == $index" ng-click="openJobsPage($index);" class="railway truncate" ng-class="{'jobsselected':jobsSelected,'jobsdeselected':!jobsSelected}">
                                        <i style="font-size:10px;" class="material-icons">mail</i>Job |</p>
                                    <p ng-show="openJob == $index" ng-click="openTimesheetsPage($index);" class="railway  truncate " ng-class="{'timesheetsselected':timesheetsSelected,'timesheetsdeselected':!timesheetsSelected}"><i style="font-size:10px;" class="material-icons">schedule</i> Timesheets |</p>
                                    <p ng-show="openJob == $index" ng-click="openDisputesPage($index);" class="railway  truncate " ng-class="{'disputesselected':disputesSelected,'disputesdeselected':!disputesSelected}"><i style="font-size:10px;" class="material-icons">announcement</i> Disputes |</p>

                                </div>
                                <!--jobsPageOpen && usersPageIndex == $index -->
                                <div ng-show="openJob == $index && jobsPageOpen" class="col s9 animated" ng-class="{'slideOutUp': slideout,'slideInUp':slidein,'fadeout':fadeOut}">

                                    <span class="railway  underline">Client</span>
                                    <p class="railway  "> {{jobDetails[openJob].contractor}}</p>
                                    <span class="railway  underline">Supervisor</span>
                                    <p class="railway  "> {{jobDetails[openJob].supervisor}}</p>
                                    <span class="railway underline">Location</span>
                                    <p class="railway  "> {{jobDetails[openJob].location}}</p>
                                </div>
                                <!--   <div style="border-bottom:1px solid #ddd;  padding-bottom:10px;">
                            
                        </div>-->

                                <div ng-show="openJob == $index && timesheetsPageOpen" class="col s9 animated" ng-class="{'slideOutUp': slideout,'slideInUp':slidein,'fadeout':fadeOut}">
                                    <div class="row" ng-show="!jobDetails[openJob].timesheetSubmitted">
                                        <div class="col s12 center-align">
                                            <i style="font-size:17px;" class="material-icons animated flash">error_outline</i>
                                            <p class="railway"> No Time Sheet Submitted!</p>
                                            <div class="row">
                                                <div class="col s6 center-align">
                                                    <i style="font-size:17px;" class="material-icons">perm_phone_msg</i>
                                                    <p class="railway">Send Text</p>
                                                </div>
                                                <div class="col s6 center-align">
                                                    <i style="font-size:17px;" class="material-icons">email</i>
                                                    <p class="railway">Send Email</p>
                                                </div>
                                            </div>




                                        </div>
                                    </div>
                                    <div ng-show="jobDetails[openJob].timesheetSubmitted" class="row">
                                        <div class="col s6 center-align">
                                            <br>
                                            <br>


                                            <i style="font-size:17px;" class="far fa-clock underline animated slideInLeft"></i>





                                        </div>
                                        <!--  <div class = "col s2 center-align">
                                            <br>
                                            <br>
                                            <i style="font-size:17px;" class = "material-icons">remove</i>
                                        </div>-->
                                        <div class="col s6 center-align">
                                            <br>
                                            <br>

                                            <i style="font-size:17px;" class="fas fa-clock underline animated slideInLeft"></i>




                                        </div>
                                        <div class="col s6 center-align animated fadeIn">
                                            <p>{{job.timein}}</p>
                                        </div>
                                        <div class="col s6 center-align animated fadeIn">
                                            <p>{{job.timeout}}</p>
                                        </div>

                                    </div>
                                    <div ng-show="disputesPageOpen && usersPageIndex == $index" class="col s9">
                                        <p class="railway">
                                            Disputes Open!
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

<table>
  <tr>
    <th class="day-name">Sun</th>
    <th class="day-name">Mon</th>
    <th class="day-name">Tue</th>
    <th class="day-name">Wed</th>
    <th class="day-name">Thu</th>
    <th class="day-name">Fri</th>
    <th class="day-name">Sat</th>
  </tr>
  <tr>
    <td class="day"><span class="number">31</span></td>
    <td class="day"><span class="number">1</span><span class="event"></span><span class="event"></span></td>
    <td class="day"><span class="number">2</span></td>
    <td class="day"><span class="number">3</span><span class="event event-multiday-start"></span></td>
    <td class="day"><span class="number">4</span><span class="event event-multiday"></span><span class="event event-multiday-start eventclass" style="background-color:#5a9ab2;"></span><span class="event"></td>
    <td class="day"><span class="number">5</span><span class="event event-multiday-finish"></span><span class="event event-multiday eventclass" style="background-color:#5a9ab2;"></span></td>
    <td class="day"><span class="number">6</span><span class="event event-ghost"></span><span class="event event-multiday-finish eventclass" style="background-color:#5a9ab2;"></span></td>
  </tr>
  <tr>
    <td class="day"><span class="number">7</span></td>
    <td class="day"><span class="number">8</span><span class="event"></span></td>
    <td class="day"><span class="number">9</span></td>
    <td class="day"><span class="number">10</span></td>
    <td class="day"><span class="number">11</span></td>
    <td class="day"><span class="number">12</span></td>
    <td class="day"><span class="number">13</span></td>
  </tr>
  <tr>
    <td class="day"><span class="number">14</span></td>
    <td class="day"><span class="number">15</span></td>
    <td class="day"><span class="number">16</span><span class="event"></span></td>
    <td class="day"><span class="number">17</span><span class="event"></span></td>
    <td class="day"><span class="number">18</span></td>
    <td class="day"><span class="number">19</span></td>
    <td class="day"><span class="number">20</span></td>
  </tr>
  <tr>
    <td class="day"><span class="number">21</span></td>
    <td class="day"><span class="number">22</span></td>
    <td class="day"><span class="number">23</span></td>
    <td class="day"><span class="number">24</span></td>
    <td class="day"><span class="number">25</span></td>
    <td class="day"><span class="number">26</span></td>
    <td class="day"><span class="number">27</span><span class="event event-multiday-start" style="background-color:#da5f5f;"></td>
  </tr>
  <tr>
    <td class="day"><span class="number">28</span><span class="event event-multiday" style="background-color:#da5f5f;"></td>
    <td class="day today"><span class="number">29</span><span class="event event-multiday-finish" style="background-color:#da5f5f;"></td>
    <td class="day"><span class="number">30</span></td>
    <td class="day"><span class="number">1</span></td>
    <td class="day"><span class="number">2</span></td>
    <td class="day"><span class="number">3</span></td>
    <td class="day"><span class="number">4</span></td>
  </tr>
  <tr>
    <td class="day"><span class="number">5</span></td>
    <td class="day"><span class="number">6</span><span class="event"></span></td>
    <td class="day"><span class="number">7</span></td>
    <td class="day"><span class="number">8</span></td>
    <td class="day"><span class="number">9</span></td>
    <td class="day"><span class="number">10</span></td>
    <td class="day"><span class="number">11</span></td>
  </tr>
</table>-->
                    </div>

                </div>
                <!--<p class="railway">Main Page</p>-->
            </div>



        </div>
    </div>
</div>