<div class="container">
    <div class="row">
        <div style="height:500px; border-right:1px solid black" class="col s3 animated fadeIn">
            <div class="row">
                <div style="height: 50px;border-bottom:1px solid black" class="col s12">

                </div>
            </div>
        </div>
        <div style=" border-bottom:1px solid black;" class="col s9 ">
            <h4 class="center-align animated fadeIn">{{name}}</h4>
            <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
            <div class="row center-align">
                <div class="col s4">
                    <i ng-click="previousMonth()" class="material-icons center-align">chevron_left</i>
                </div>
                <div class="col s4">
                    <span ng-show="monthPosition ===1" class="center-align animated fadeIn">JANUARY</span>
                    <span ng-show="monthPosition ===2" class="center-align animated fadeIn">FEBRUARY</span>
                    <span ng-show="monthPosition ===3" class="center-align animated fadeIn">MARCH</span>
                    <span ng-show="monthPosition ===4" class="center-align animated fadeIn">APRIL</span>
                    <span ng-show="monthPosition ===5" class="center-align animated fadeIn">MAY</span>
                    <span ng-show="monthPosition ===6" class="center-align animated fadeIn">JUNE</span>
                    <span ng-show="monthPosition ===7" class="center-align animated fadeIn">JULY</span>
                    <span ng-show="monthPosition ===8" class="center-align animated fadeIn">AUGUST</span>
                    <span ng-show="monthPosition ===9" class="center-align animated fadeIn">SEPTEMBER</span>
                    <span ng-show="monthPosition ===10" class="center-align animated fadeIn">OCTOVER</span>
                    <span ng-show="monthPosition ===11" class="center-align animated fadeIn">NOVEMBER</span>
                    <span ng-show="monthPosition ===12" class="center-align animated fadeIn">DECEMBER</span>

                    <!-- <span class = "center-align">{{currentMonth}}</span>-->
                </div>
                <div class="col s4">
                    <i ng-click="nextMonth()" class="material-icons center-align">chevron_right</i>
                </div>
            </div>



            <table class="animated fadeIn center-align">

                <tr>
                    <th class="day-name">Sun</th>
                    <th class="day-name">Mon</th>
                    <th class="day-name">Tue</th>
                    <th class="day-name">Wed</th>
                    <th class="day-name">Thu</th>
                    <th class="day-name">Fri</th>
                    <th class="day-name">Sat</th>
                </tr>
                <tr>

                    <td class="day" ng-class="{available: june1, notavailable: !june1, pending: availability == 2}"><div class="floater"></div><span class="number">1<span  style="position:relative; top:50px;  font-size:20px;"class = "material-icons align-center animated pulse infinite">access_alarms</span></span><span class="event"></span><span class="event"></span></td>
                    <td class="day" ng-class="{available: june2, notavailable: !june2, pending: availability == 2}"><span class="number">2</span></td>
                    <td class="day" ng-class="{available: june3, notavailable: !june3, pending: availability == 2}"><span class="number">3</span><span class="event event-multiday-start"></span></td>
                    <td class="day" ng-class="{available: june4, notavailable: !june4, pending: availability == 2}"><span class="number">4</span><span class="event event-multiday"></span><span class="event event-multiday-start eventclass"
                            style="background-color:#5a9ab2;"></span><span class="event"></td>
                    <td class="day" ng-class = "{available: june5, notavailable: !june5, pending: availability == 2}"><span class="number">5</span><span
                            class="event event-multiday-finish"></span><span class="event event-multiday eventclass" style="background-color:#5a9ab2;"></span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june6, pending: availability == 2}"><span class="number">6</span><span class="event event-ghost"></span><span class="event event-multiday-finish eventclass"
                            style="background-color:#5a9ab2;"></span></td>
                </tr>
                <tr>
                    <td class="day" ng-class="{available: june6, notavailable: !june7, pending: availability == 2}"><span class="number">7</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june8, pending: availability == 2}"><span class="number">8</span><span class="event"></span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june9, pending: availability == 2}"><span class="number">9</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june10, pending: availability == 2}"><span class="number">10</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june11, pending: availability == 2}"><span class="number">11</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june12, pending: availability == 2}"><span class="number">12</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june13, pending: availability == 2}"><span class="number">13</span></td>
                </tr>
                <tr>
                    <td class="day" ng-class="{available: june6, notavailable: !june14, pending: availability == 2}"><span class="number">14</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june15, pending: availability == 2}"><span class="number">15</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june16, pending: availability == 2}"><span class="number">16</span><span class="event"></span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june17, pending: availability == 2}"><span class="number">17</span><span class="event"></span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june18, pending: availability == 2}"><span class="number">18</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june19, pending: availability == 2}"><span class="number">19</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june20, pending: availability == 2}"><span class="number">20</span></td>
                </tr>
                <tr>
                    <td class="day" ng-class="{available: june6, notavailable: !june21, pending: availability == 2}"><span class="number">21</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june22, pending: availability == 2}"><span class="number">22</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june23, pending: availability == 2}"><span class="number">23</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june24, pending: availability == 2}"><span class="number">24</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june25, pending: availability == 2}"><span class="number">25</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june26, pending: availability == 2}"><span class="number">26</span></td>
                    <td class="day" ng-class="{available: june6, notavailable: !june27, pending: availability == 2}"><span class="number">27</span><span class="event event-multiday-start" style="background-color:#da5f5f;"></td>
  </tr>
  <tr>
    <td  class="day animated fadeIn"><span class="number">28</span><span class="event event-multiday" style="background-color:#da5f5f;"></td>
    <td ng-show="monthPosition !== 2" class="day today animated fadeIn"><span class="number">29</span><span class="event event-multiday-finish"
                            style="background-color:#da5f5f;"></td>
    <td ng-show="monthPosition !== 2" class="day animated fadeIn"><span class="number">30</span></td>
                    <td ng-show="monthPosition !== 2 && monthPosition !== 4 && monthPosition !== 6 && monthPosition !== 9 && monthPosition !== 11"
                        class="day animated fadeIn"><span class="number">31</span></td>

                </tr>

            </table>
            -->

        </div>
    </div>
</div>