<div class = "container">


    <div class = "row">

      
            <div class = "col s2 left-align" style="border:1px solid #ddd">
                <div class = "left-align">
                    <i class = "material-icons">account_circle</i>
                <h1 > Hello {{name}}</h1>
                </div>
            </div>
               <div class = "col s10 center-align" style="border-bottom:1px solid #ddd">
                <i ng-click="openHistoryPageProfile()"class = "material-icons">access_time</i>
                <i class = "material-icons">timeline</i>

                <div class = "row">
                       <div ng-show="historyPageOpenProfile" class="col s12">
                <div class="col s12" style="border-bottom: 1px solid black; border-top: 1px slid #ddd;">

                    <p ng-show="generalHistoryTitle" style="font-size:17px;" class="railway animated fadeIn underline "><i ng-click="openManagementPage()" style="font-size:14px;" class="material-icons animated fadeIn">keyboard_return</i>History
                        page</p>

                    <p ng-show="personalHistoryTitle" style="font-size:17px;" class="railway animated fadeIn underline "><i ng-click="openHistoryPage()" style="font-size:14px;" class="material-icons animated fadeIn">keyboard_return</i>Work
                        History</p>
                    <div class="row ">
                        <div ng-show="loadingPersonalHistory" class="col s12 center-align">
                            <!-- <i class="fas fa-circle-notch fa-spin"></i>-->
                            <p class="railway animated flash infinite">LOADING HISTORY</p>
                            <p class="railway animated flash infinite">({{name}})</p>




                        </div>
                        <div ng-show="personalHistoryOpen && !loadingPersonalHistory" class="col s12 center-align">
                            <div class="row">
                                <div class="col s3">
                                    <p style="font-size:14px;" class="railway animated fadeIn ">Pay Period</p>

                                </div>
                                <div class="col s9">
                                    <p style="font-size:14px;" class="railway animated fadeIn ">Details</p>


                                </div>
                            </div>
                            <div class="row " ng-repeat="history in payPeriodHistory track by $index">

                                <div class="col s3">
                                    <a href='#' style="color:black;">
                                        <p ng-click="openIndividualPayPeriod($index)" class="railway underline" style="font-size:16px;">#{{$index}}</p>
                                    </a>
                                </div>

                                <div ng-show=" individualPayPeriodOpen &&curPeriod !== $index && !loadingPersonalHistory " class="col s9 animated fadeInDown"
                                    style="border: 1px solid #ddd; ">
                                    <p class="railway underline" style="font-size:20px; opacity:0;">#{{$index}}</p>

                                </div>

                                <div ng-show="individualPayPeriodOpen && curPeriod == $index" class="col s9 animated fadeInUp" style="border: 1px solid #ddd; overflow-y:scroll; height:275px;">

                                    <br>
                                    <canvas ng-show="!showChart && !removeChart" id="bar" class="chart chart-bar animated fadeOutUp" chart-data="data" chart-labels="labels">
                                        chart-series="series"
                                    </canvas>
                                    <canvas ng-show="showChart" id="bar" class="chart chart-bar animated fadeInDown" chart-data="data" chart-labels="labels">
                                        chart-series="series"
                                    </canvas>
                                    <div ng-repeat="entry in history.entry track by $index" class="row">

                                        <div ng-show="historyEntryOpen && curHistory == $index" class="col s12 animated fadeInDown" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd;"
                                            ng-class="{'slideOutUp': slideout,'slideInUp':slidein,'fadeout':fadeOut,'slideOutLeft':slideOut, 'fadeout2':fadeOut2,'fadein2':fadeIn2, 'slideInRight':slideIn}">
                                            <div class="right-align">
                                                <a href="#" style="color:black;"> <i  ng-click="openIndividualHistoryEntry($index)"style="font-size:16px;"class= "material-icons ">clear</i></a>
                                                <a ng-show="entry.length>1 && curHistory == $index &&!entry[1].default" href="#" style="color:black;"> <i  ng-click="changeJobInDate()"style="font-size:16px;"class= "material-icons animated flash">chevron_right</i></a>
                                                <a ng-show="entry.length<2 && curHistory == $index" href="#" style="color:#ddd;"> <i  ng-click="changeJobInDate()"style="font-size:16px;"class= "material-icons ">chevron_right</i></a>

                                            </div>
                                            <p class="railway" style="text-decoration:underline;">{{entry[currentJobInDate].location}}</p>
                                            <p class="railway" style="text-decoration:underline;">{{entry[currentJobInDate].contractor}}</p>
                                            <p class="railway" style="text-decoration:underline;">{{entry[currentJobInDate].supervisor}}</p>
                                            <p class="railway" style="text-decoration:underline;">{{entry[currentJobInDate].timein}}</p>
                                            <p class="railway" style="text-decoration:underline;">{{entry[currentJobInDate].timeout}}</p>





                                        </div>
                                        <div ng-click="openIndividualHistoryEntry($index)" ng-show="historyEntryOpen && curHistory !== $index" class="col s12 fadeInUp"
                                            style="border-top:1px solid #ddd;border-bottom:1px solid #ddd;">
                                            <a href="#" style="color:black;">
                                                <p class="railway underline">{{entry[currentJobInDate].date}}</p>
                                            </a>


                                        </div>
                                    </div>
                                </div>


                                <!--
                                <div class="col s3">
                                   <a href='#' style="color:black;"> <p ng-click="openIndividualPayPeriod($index)" class="railway underline" style="font-size:16px;">#{{$index}}</p></a>
                                </div>
                          
                                <div ng-show=" individualPayPeriodOpen &&curPeriod !== $index && !loadingPersonalHistory " class="col s9 animated fadeInDown" style="border: 1px solid #ddd; ">
                                    <p class="railway underline" style="font-size:20px; opacity:0;">#{{$index}}</p>

                                </div>
                       
                                <div ng-show="individualPayPeriodOpen && curPeriod == $index" class="col s9 animated fadeInUp" style="border: 1px solid #ddd; overflow-y:scroll; height:250px;" >

                                    <br>
                                    <canvas ng-show="!showChart && !removeChart" id="bar" class="chart chart-bar animated fadeOutUp" chart-data="data" chart-labels="labels">
                                    chart-series="series"
                                    </canvas>
                                    <canvas ng-show="showChart" id="bar" class="chart chart-bar animated fadeInDown" chart-data="data" chart-labels="labels">
                                    chart-series="series"
                                    </canvas>
                                    <div ng-repeat="entry in history.entry track by $index" class="row">
                                        
                                        <div ng-show="historyEntryOpen && curHistory == $index" class="col s12 animated fadeInDown" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd;">
                                            <div class = "right-align">
                                           <a href="#" style="color:black;"> <i  ng-click="openIndividualHistoryEntry($index)"style="font-size:16px;"class= "material-icons ">clear</i></a>
                                            </div>
                                            <p class="railway" style="text-decoration:underline;">{{entry.location}}</p>
                                            <p class="railway" style="text-decoration:underline;">{{entry.contractor}}</p>
                                            <p class="railway" style="text-decoration:underline;">{{entry.supervisor}}</p>
                                            <p class="railway" style="text-decoration:underline;">{{entry.timein}}</p>
                                            <p class="railway" style="text-decoration:underline;">{{entry.timeout}}</p>





                                        </div>
                                        <div ng-click="openIndividualHistoryEntry($index)" ng-show="historyEntryOpen && curHistory !== $index" class="col s12 fadeInUp" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd;">
                                            <a href="#" style="color:black;"><p class="railway underline">{{entry.date}}</p></a>


                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div ng-show="loadingGeneralHistory" class="col s12 center-align">
                            <!--<i class="fas fa-circle-notch fa-spin"></i>-->
                            <p class="railway animated flash infinite">LOADING USER LIST</p>

                        </div>
                        <div ng-show="generalHistoryOpen && !loadingGeneralHistory" class="col s12">
                            <div class="center-align">


                                <table>
                                    <thead style="text-decoration:none;">
                                        <tr style="font-family: railway; text-decoration:none;">
                                            <th>Name</th>
                                            <th>Phonenumber</th>

                                        </tr>
                                    </thead>

                                    <tbody ng-repeat="page in employeesPaginated[page] track by $index">
                                        <tr>
                                            <td class="animated fadeIn railway"><a style="color:black;" href="#" ng-click="openUserFileHistory(page.name,page.phonenumber)">{{$index+1}}.{{page.name}}</a></td>
                                            <td class="animated fadeIn railway"><a style="color:black;" href="#">{{page.phonenumber}}</a></td>
                                        </tr>


                                    </tbody>
                                </table>

                                <ul class="pagination">
                                    <li class="disabled hide-on-small-only"><a href="#" ng-click="firstPage()"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_left</i></a></li>

                                    <li class="disabled waves-effect"><a href="#" ng-click="decreasePage()"><i class="material-icons">chevron_left</i></a></li>
                                    <li ng-class="{'active':page == $index, 'disabled': page!==$index}" ng-repeat="employee in employeesPaginated track by $index"
                                        ng-click="specificPage($index)"><a href="#">{{$index}}</a></li>

                                    <li class="waves-effect"><a href="#" ng-click="changePage()"><i class="material-icons">chevron_right</i></a></li>
                                    <li class="waves-effect hide-on-small-only" ng-click="lastPage()"><a href="#"><i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i></a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                </div>
            </div>

    </div>


</div>