
  <div class="parallax-container center-align">
       <div class="ptext animated fadeIn">
        <span class="border trans">
                <p id="title"> QUALITY LABOUR HIRE</p>
                </span>
    </div>
    <div class="parallax"><img src="../img/backgroundsmall.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="../img/background4small.jpg"></div>
  </div>
   <script>
    $(document).ready(function () {
       $('.parallax').parallax();
      console.log($('.tap-target'))
      /*Form Validation*/
          setTimeout(function () {

        //$('.tap-target').tapTarget('open');
        $('select').material_select();
        $('.carousel.carousel-slider').carousel({ fullWidth: true });
      }, 20000);

    
      /*Materialize initializations */
  
      //This method wasn't working
      // $('select').material_select();
      // $('select:not([multiple])').material_select();
      console.log($('select'))
      $('.carousel.carousel-slider').carousel({ fullWidth: true });

      $(".button-collapse").sideNav({
        menuWidth: 200, // Default is 300
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        draggable: true // Choose whether you can drag to open on touch screens,

      }
      );

    })
  </script>